branches/portal_r1/src/by/brsu/portal/servlets/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="actions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="action" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="class" type="xs:string"></xs:element>
							<xs:element name="forward-url" type="xs:string"></xs:element>
							<xs:element name="error-url" type="xs:string"></xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
