trunk/portal/src/by/brsu/portal/servlets/SchemaForActionsMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SchemaForActionsMap"
	xmlns:tns="http://www.example.org/SchemaForActionsMap"
	elementFormDefault="qualified">
	<element name="actions">
		<complexType>
			<sequence>
				<element name="action" minOccurs="1"
					maxOccurs="unbounded">
					<complexType>
						<attribute name="name" type="string" use="required"></attribute>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
